#pageHeader {
}
#pageContent {
  flex: 1 0 auto;
}
#pageFooter {
  flex-shrink: 0;
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    .nav-item {
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: $light;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .navbar-nav {
      justify-content: flex-end;
    }
  }
}
